<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span><a routerLink="">FoodieCrush</a></span>
    <!-- <span><a routerLink="">Bon Appétit</a></span> -->
    <span class="example-spacer"></span>
    <!-- <a class="btn" mat-button routerLink="/">Contact</a> -->
    <!-- <a class="btn" mat-button routerLink="/">Contact</a> -->
    <a class="btn" mat-button routerLink="/cart-page">Cart
        <!-- <span>{{cart}}</span> -->
    </a>
</mat-toolbar>